<div class="container">
    <h2 style="color: red;">Only Admin can see this page.</h2>
    <p></p>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let s of suppliers'>
                <td>{{s.id}}</td>
                <td>{{s.name}}</td>
                <td>{{s.email}}</td>
            </tr>
        </tbody>
    </table>
</div>